<%= form_with(model: article, local: true, class: 'text-white w-75 mx-auto') do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control', placeholder: 'Enter title here' %>
  </div>

  <div class="form-group">
    <%= form.label :text %>
    <%= form.text_area :text, class: 'form-control', placeholder: 'Enter text here' %>
  </div>

  <div class="form-group">
    <%= form.label :image %><br />
    <%= form.file_field :image %>
  </div>

  <!-- <div class="field">
    <%= form.label :category %>
    <%= fields_for (@category) do |builder| %>
      <div class="form-control">
        <%= builder.label :name %>
        <%= builder.text_field :name, class: '' %>
      </div>

      <div class="form-control">
        <%= builder.label :priority %>
        <%= builder.text_field :priority, class: '' %>
      </div>
    <% end %>
  </div> -->

  <div class="actions">
    <p class='text-center'><%= form.submit %></p>
  </div>
<% end %>
