<section class="home-page container-fluid">
  <div class="row">
    <article class="col-12 col-md-9 text-orange p-5">
      Article with most votes comes here with a full-width image <br />
      <%= most_votes(@articles) %>
      <h5 class="text-orange text-bold"></h5>
    </article>
    <aside class="col-md-3 user-activity text-white p-0 pt-2">
      <h5 class="text-white bg-orange pl-4">User Leaderboard</h5>
      <ul class="list-group">
        <% @users.each do |user| %>
          <li class="list-group-item text-orange bg-transparent">
            <span>@<%= user.username %></span> -
            <%= pluralize(user.authored_articles.count, 'article') %> -
            <%= link_to 'Follow', '#', class: 'text-orange' %>
          </li>
        <% end %>
      </ul>
    </aside>
  </div>
  <div class="row">
    <% @articles.each do |article| %>
      <article class="col-6 col-md-3 p-0">
        <% if article.image.attached? %>
          <div style="background: url(<%= url_for(article.image) %>); background-size: cover;" class="ph ph-index">
        <% end %>
        <% if article.categories.exists? %>
          <%= link_to article.categories.first.name, categories_path, class: 'article-category text-orange' %>
        <% end %>
          <%= link_to article.title, article_path(article), class: 'title-index text-white' %>
        </div> 
      </article>
    <% end %>
  </div>
</section>
