<section class="show-page mx-auto pt-1">
  <div class="card">
    <% if @article.image.attached? %>
      <%= image_tag(@article.image.variant(resize: "100%!"), class: 'article-img w-100 vh-40') %>
    <% end %>
    <div class="card-body"> 
      <div class='d-flex justify-content-between'>
        <p>
          <strong>Written By: </strong>
          <span class="text-orange"><%= link_to @article.author.name, user_path(@article.author.id) %></span>
        </p>
        <span><%= distance_of_time_in_words(Time.now, @article.created_at) %> ago</span>
      </div>
      <small>
        <span class='mr-2 text-bold'>Voted</span>
        <%= pluralize(@article.votes.count, 'time') %>
      </small>
      <h5 class="card-title"><%= @article.title %></h5>
      <p class="card-text"><%= @article.text %></p>
      <div class="card-footer">
        <%= link_to 'Edit', edit_article_path(@article) %> |
        <%= link_to 'Back', articles_path %>
        <%= vote_or_unvote(@article) %>
      </div>
    </div>
  </div>
</section>
