<header>
  <%= render 'shared/nav' %>
</header>
<section class="user-index text-white text-center">
  <h1 class="text-orange u-white mb-3">Users</h1>
  <table class="table table-striped w-75 mx-auto bg-white">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan='3'>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</section>
<footer><%= render 'shared/footer' %></footer>
