<<<<<<< HEAD
<section class="container signup mt-3 py-md-5 transparent-bg h-100">
  <div class="row">
    <div class="col-12 col-md-6 text-center text-white">
      <h1 class="text-white">Welcome to Seasons</h1>
      <hr />
      <p>We are glad to have you here! You are going to find articles about seasons in life and how christians respond to various categories of these seasons. Please register your name in the form on the right so that we acknowledge your contributions.</p>
    </div>
    <div class="col-12 col-md-6 text-center white-bg">
      <h1 class="text-warning">LOGO</h1>
      <h2 class="text-secondary">Please Register Here</h2>
      <%= render 'form', user: @user %>
=======
<section class="container signup mt-3 py-md-5 transparent-bg p-auth">
  <div class="row">
    <div class="col-12 col-md-6 text-center pr-3 text-white d-flex flex-column justify-content-center">
      <h1 class="text-white u-orange">Welcome to Seasons</h1>
      <hr />
      <p>We are glad to have you here! You are going to find articles about seasons in life and how christians respond to various categories of these seasons. Please register your name in the form on the right so that we acknowledge your contributions.</p>
    </div>
    <div class="col-12 col-md-6 text-center curved-border white-bg py-3">
      <%= image_tag("header-logo1.png", class: "logo") %>
      <h2 class="text-secondary">Please Register Here</h2>
      <%= render 'users/form', user: @user %>
>>>>>>> feature/mvp-v1
      <span>
        Already have an account?
        <%= link_to 'Login', login_path %>
      </span>
      <br />
<<<<<<< HEAD
      <%= link_to 'Back', users_path %>
=======
      <%= link_to 'Cancel', root_path %>
>>>>>>> feature/mvp-v1
    </div>
  </div>
</section>