<!-- <article class="col-6 col-md-3 p-0">
  <div class="card border-0">
    <div class="card-img">
      <div class="ph">
        <% if article.image.attached? %>
          <%= image_tag(article.image.variant(resize: "100%!"), class: 'article-img w-100 vh-40') %>
        <% end %>
        <a href="#">
          <% if article.categories.any? %>
            <span class="category text-white"><%= article.categories.first.name %></span>
          <% end %>
        </a>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= article.title %></h5>
      <p class="card-text"><%= article.text %></p>
      <%= link_to 'read more...', article_path(article), class: 'text-orange' %>
    </div>
  </div>
</article> -->
<article class="col-6 col-md-3 p-0">
  <div class="card border-0">
    <div class="card-img vh-30">
      <% if article.image.attached? %>
        <%= image_tag(article.image.variant(resize: "100%!"), class: 'article-img w-100 vh-30') %>
      <% end %>
      <a href="#">
        <% if article.categories.any? %>
          <span class="even-category text-white transparent-bg"><%= article.categories.first.name %></span>
        <% end %>
      </a>
    </div>
    <div class="card-body vh-30">
      <h5 class="card-title"><strong><%= article.title %></strong></h5>
      <p class="card-text"><%= article.text[0..150] + '...' %></p>
      <%= link_to 'read more...', article_path(article), class: 'text-orange' %>
    </div>
  </div>
</article>
