<%= form_with(model: @category, local:true) do |f| %>
  <%= render 'shared/form_errors', resource: @category %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', 
                            autofocus: true,
                            placeholder: 'Enter category name' %>
  </div>

  <div class="form-group">
    <%= f.label :priority %>
    <%= f.text_field :priority, class: 'form-control',
                                placeholder: 'Give priority' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
